base/*
logs/*
improved/*
analyzed/*
venv
.DS_Store
EasyGPT-3.5/tree_structure.sh
EasyGPT-3.5/file_structure.sh
EasyGPT-3.5/.env
EasyGPT-3.5/__pycache__
EasyGPT-3.5/logs/*
EasyGPT-3.5/resources/prompts/*
EasyGPT-3.5/resources/units2/*
__pycache__
.env
tree_structure.sh
file_structure.sh
new_venv
change_mirror.sh